@model IEnumerable<VedioRental.Models.Customer>

@if (Model.Any())
{
    foreach (var customer in Model)
    {
        <h3>@customer.Name</h3>
        @Ajax.ActionLink("See id", "ContentById", "Customers", new { id = customer.Id },
            new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "customer-id-" + customer.Id
                })
        <div id="customer-id-@customer.Id"></div>
    }
}
else
{
    <br />
    <div>No matches</div>
}