@{
    ViewBag.Title = "Ajax.ActionLink()";
}

<h2>@ViewBag.Title</h2>

<div id="timeDisplay" style="color:red"></div>

<div id="timeDisplayLoading" style="display: none">Loading...</div>

@Ajax.ActionLink("Load Server Time", "ServerTime", null,
    new AjaxOptions
    {
        UpdateTargetId = "timeDisplay",
        LoadingElementId = "timeDisplayLoading",
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace
        //Confirm = "Are you sure you want to update the time?"
    }, new { @class = "btn btn-primary" })

