@{
    ViewBag.Title = "AJAX Demos";
}

<div class="hero-unit">
    <h1>@ViewBag.Title</h1>
    <p class="lead">
        AJAX is a technique for asynchronously loading (in the background)
        of dynamic Web content and data from the server side.
    </p>
    <p><a href="http://en.wikipedia.org/wiki/Ajax_(programming)" 
          class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
