@{
    ViewBag.Title = "Raw AJAX";
}

<h2>@ViewBag.Title</h2>

<div id="timeDisplay"></div>

<a onclick="updateServerTimeAjax()" href="#" class="btn btn-primary">Load Server Time</a>

<script>
    function updateServerTimeAjax() {
        var timeDiv = document.getElementById("timeDisplay");
        timeDiv.innerHTML = "Loading...";

        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/Home/ServerTime", true);
        xhr.onreadystatechange = function() {
            timeDiv.innerHTML = '';
            if (xhr.readyState == 4 && xhr.status == 200) {
                timeDiv.innerHTML = xhr.responseText;
            }
        }
        xhr.send();
    }
</script>
