@model IEnumerable<AdmissionsOnlineSystem.Models.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Search Results</h2>

@using (Ajax.BeginForm("Search", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "results",
        InsertionMode = InsertionMode.Replace

    }, new { id = "searchForm" }))
{
    <span>First Name: </span>
    <input type="text" name="query" placeholder=""
           oninput="$('#searchForm').submit()" />
    <input type="submit" value="Search" />
}

<div id="results">
    @Html.Partial("_Applicates", Model)
</div>
