@model IEnumerable<BlogMvc.Models.Post>

@if (Model.Any())
{
    foreach (var p in Model)
    {
        <h4>@p.Title</h4>
        
        @Ajax.ActionLink("See content", "ContentById", "Posts", new { id = p.Id },
            new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "post-id-" + p.Id
                })
        <div id="post-id-@p.Id"></div>
    }
}
else
{
    <br />
    <div>No matches</div>
}


